body {
    background-color: white;
}

.game-container {
    text-align: center;
    margin: auto;
    max-width: 400px;
}

.description {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

#ver {
    background: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
}

#ver:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

#ver:hover {
    color: #fff;
}

#ver:hover:after {
    top: 0;
    height: 100%;
}

#ver:active {
    top: 2px;
}

/* Styles for the Restart button */
button.btnlose {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
    z-index: 1;
}

button.btnlose:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

button.btnlose:before,
button.btnlose:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

button.btnlose:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button.btnlose:hover:before,
button.btnlose:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

#tentativi {
    text-align: center;
}

.centro {
    text-align: center;
}
